
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Sushi</p>
    <div class="socials">
        <a href="https://github.com/Sushipie" target="_blank" rel="noopener noreferrer"><i class="social-icon fab fa-github-square"></i> </a>
      </div>
  </div>
  
</div>

