body,
html {
  background: #fff;
  display: grid;
  height: 100%;
  grid-template: 1fr/100%;
  place-items: center;
}

.search-box {
  background-color: #eff8ff;
  padding: 16px 16px;
  border: none;
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #a9b8c9;

  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 100%;
}

.weather-card {
  background-color: #eaebff;
  padding: 5%;
  border-radius: 5%;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.city {
  font-weight: 600;
  text-align: center;
  padding: 3%;
}

.date {
  text-align: center;
  padding: 3%;
}
.temp {
  text-align: center;
  padding: 2%;
  font-size: 400%;
}
.weather {
  font-weight: 600;
  text-align: center;
  padding: 3%;
}
.icon-container {
  background: #fff;
  padding: 0 20% 0 5%;
  margin: 0 20% 0 20%;
  text-align: center;
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.icon {
  margin: 0;
  padding-right: 15%;
}
.hi-low {
  text-align: center;
  padding: 2%;
}
.humidity-container {
  padding: 3% 10% 3% 10%;
}
.humidity {
  margin: 0;
  text-align: center;
  padding: 10% 2% 10% 2%;
}

.socials {
    text-align: center;
}

.social-icon {
    font-size: 40;
}


